h1, h2{
    text-align: center;
}
ol {
    list-style: none;
    display: flex;
}

ol li {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;    
}
.inline {
    background-color: lightgoldenrodyellow;
}
.block {
    background-color: lightcyan;
}
.inline-block {
    background-color: lightblue;
}
td, th {
    border: 1px solid lightseagreen;
    padding: 10px 10px;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#rifat {
    background-color: lightcyan;
}
#main {
    background-color: lightyellow;
}
#sourav {
    background-color: lightpink;
}
#mahmudul {
    background-color: khaki;
}
#raian {
    background-color: violet;
}
#tammam {
    background-color: cornsilk;
}
.list-item {
    margin: auto;
}

.fa-youtube {
    font-size: 200px;
    color: red;
}
.fa-facebook {
    font-size: 200px;
    color: blue;
}
.fa-facebook:hover {
    color: blue;
}
ul {
    list-style: none;
    display: flex;
    overflow: hidden;
}
ul li{
    padding-right: 5%;
    padding-left: 5%;
}
ul a {
    float: left;
    display: flex;
    position: absolute;
    text-decoration: none;
    color: white;
}
nav {
    padding: 50px;
    background-color: black;
}